.LayoutAdmin {
  display: flex;
  min-height: 100%;
  overflow: hidden;

  &-main {
    flex-grow: 1;
    overflow: auto;
    min-height: 100%;
    padding-top: 70px;
    padding-bottom: 20px;

    @media screen and (max-width: 900px) {
      padding-top: 100px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  margin: 20px 0;
}
