.DataTable {
  position: relative;

  &-loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    td {
      color: #777;
    }

    &.has-items {
      position: absolute;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      top: 0;
      left: 0;
    }

    &.no-items {
      min-height: 200px;

      td {
        border-bottom: none;
      }
    }
  }
}
