.AuthLayout {
  &-header {
    top: 0;
    z-index: 9;
    line-height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 36px;
    justify-content: space-between;

    @media screen and (max-width: 480px) {
      align-items: flex-start;
      padding: 14px 10px 0 14px;
    }
  }

  &-section {
    width: 100%;
    max-width: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 20px 20px;
  }

  &-content {
    max-width: 480px;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
  }

  .img-social {
    width: 24px;
    object-fit: cover;
  }
}
